# Gradle
.gradle/
gradle-home/
gradle.zip
build/
app/build/
app/release/
*.apk
*.ap_
*.dex
*.class
*.jar

# Android Studio
.idea/
*.iml
local.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated
gen/
